*{
	margin: 0;
	padding:0;
}


body{
	background-color: beige;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#parent{
	display:flex;
	justify-content: center;
	align-items:center;
	position:relative;
}

h1{
	font-family: 'Gaegu', cursive;
	font-size: 120px;
	/*text-align: center;*/
	vertical-align: middle;
	color: white;
	opacity: 0.8;
	top: 50%;

}
